@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  font-family: "Bayon", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*scrollbar*/
/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}


.skillsBoxContainer::-webkit-scrollbar{
  width: 20px;

}

.skillsBoxContainer::-webkit-scrollbar-thumb {
  background-color: #0000ff;
  border-radius: 5px;
}

.skillsBoxContainer::-webkit-scrollbar-thumb:hover {
  background-color: #11116b;
}

.skillsBoxContainer::-webkit-scrollbar-track {
  background-color: transparent;
  
}

@keyframes curtainAnimation{
  0%{
    width: 50vw;
  }
  90%{
    width: 50vw;
  }
  100%{
    width: 0;
  }

}

@keyframes topToBottom{
  0%{
    height: 0vh;
    width: .25vw;
  }
  50%{
    height: 100vh;
  }
  99%{
    width: .25vw;
  }
  100%{
    width: 0vw;
    height: 100vh;
  }
  
}

@keyframes photoBlob{
  0%{
    border-radius: 56% 44% 50% 50% / 50% 50% 50% 50%;
  }
  20%{
    border-radius: 40% 70% 50% 54% / 60% 57% 25% 42%;
  }
  30%{
    border-radius: 67% 45% 32% 46% / 56% 43% 34% 64%;
  }
  60%{
    border-radius: 47% 34% 40% 40% / 45% 45% 33% 56%;
  }

  100%{
    border-radius: 56% 44% 50% 50% / 50% 50% 50% 50%;
  }

  
}

@keyframes bouncing{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes glowIn{
  0%{
    width: calc(0%);
    height: calc(0%);
  }
  100%{
    width: calc(100% + 10px);
    height: calc(100% + 10px);
  
  }
}

@keyframes animate{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  
}

@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes fadeInRight{
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }

}


.leftAnimationBox{
  animation: curtainAnimation 1.5s ease-in-out;
  div{
    animation: topToBottom 2s ease-in-out;
  }
}

.rightAnimationBox{
  animation: curtainAnimation 1.5s ease-in-out;

  div{
    animation: topToBottom 2s ease-in-out;
  }
}

.arrowBox{
  animation : bouncing 1s ease-in-out infinite;
}

.SkillBox:hover{
  cursor: pointer;
}


.glow:hover::before , .glow:hover::after{
  content: '';
  position: absolute;
  left: -5px;
  top: -4px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  border-radius: 5000px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;

  animation: animate 20s linear infinite, fadeIn 1s;

}

.glow:hover::after{
  filter: blur(20px);
}

.fadeInLeft{
  animation: fadeInLeft 1s ease-in-out;
}

.fadeInRight{
  animation: fadeInRight 1s ease-in-out;
}

/*images*/
.photo{
  background-image: url("./svg/linkedinPhoto.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: center;

  aspect-ratio: 1/1;

  border-radius: 56% 44% 50% 50% / 50% 50% 50% 50%;

  animation: photoBlob 4s ease-in-out infinite;
  
}

.yorkPhoto{
  background-image: url("/public/images/YorkUni.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: center;

  aspect-ratio: 1/1;

  border-radius: 56% 44% 50% 50% / 50% 50% 50% 50%;

  animation: photoBlob 4s ease-in-out infinite;
}

.javaLogo{
  background-image: url("./svg/java.svg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: center;

  aspect-ratio: 1/1;
}
.python{
  background-image: url("/public/images/python.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: center;

  aspect-ratio: 1/1;
}

.linkGenerator{
  background-image: url("/public/images/table.PNG");
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.connect{
  background-image: url("/public/images/connect.PNG");
  background-size:contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.skillsBall{
  transition: left 0.2s ease-in-out;
}

.skillsImage{
  background-size:contain;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: center;

  aspect-ratio: 1/1;
}


.eureka{
  background-image: url("/public/images/Eureka.PNG");
  background-size:contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.github{
  background-image: url("/public/images/github.png");
  background-size:contain;
  width: 100%;
  margin-bottom: 40px;
  height: 100px;

  background-repeat: no-repeat;
  background-position-x: center;
}

.CSS{
  background-image: url("/public/images/CSS.svg");
}

.HTML{
  background-image: url("/public/images/1024px-HTML5_Badge.svg.png");
}

.JavaScript{
  background-image: url("/public/images/javascript.png");
}

.react{
  background-image: url("/public/images/React.png");
}

.Node{
  background-image: url("/public/images/nodeJs.png");
}

.Tailwind{
  background-image: url("/public/images/Tailwind_CSS_logo.svg.png");
}

.springBoot{
  background-image: url("/public/images/Spring_Boot.svg.png");
}

.jquery{
  background-image: url("./svg/jquery.svg");
}

.mongodb{
  background-image: url("./svg/mongodb.svg");
}

.firebase{
  background-image: url("./svg/firebase.svg");
}

.reactThreeFiber{
  background-image: url("/public/images/reactThreeFiber.png");
}

.awsCloud{
  background-image: url("/public/images/awsCloud.png");
}

.Blender{
  background-image: url("/public/images/Blender.png");
}

.CSharp{
  background-image: url("./svg/CSharp.svg");
}

.docker{
  background-image: url("/public/images/docker.jpeg");
}

.MySQL{
  background-image: url("/public/images/MySQL.png");
}

.postman{
  background-image: url("/public/images/postman.png");
}


.micLogo{
  background-image: url("./svg/mic.png");
}



.communication{
  background-image: url("/public/images/communication.png");
}

.adaptable{
  background-image: url("/public/images/adaptability.png");
}

.teamwork{
  background-image: url("/public/images/teamwork.webp");
}

.timeManagement{
  background-image: url("/public/images/timeManagement.png");
}

.problemSolving{
  background-size:contain;
}

.attentionToDetail{
  background-image: url("/public/images/attentionToDetail.png");
}

.adaptability{
  background-image: url("/public/images/adaptability.png");
}

.problemSolving{
  background-image: url("/public/images/problemSolving.png");
}

.gradient-text {
  background: linear-gradient(to right, #22c55e, #48f9ff);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.gradient-text2 {
  background: linear-gradient(to right, #4dc7ff, #6cc522);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.leftImage{
  transform: perspective(100px) rotate3D(0, 1, 0, 5deg);
}

.rightImage{
  transform: perspective(100px) rotate3D(0, 1, 0, -5deg);
}

.projectsContainer{
  
  scrollbar-width: auto; /* Shows scrollbar (for Firefox) */
  -ms-overflow-style: auto; /* Default scrollbar for IE/Edge */
  scrollbar-gutter: 10px; /* Scrollbar space */
}


.projectsContainer::-webkit-scrollbar {
  height: 8px; /* Adjust scrollbar height */
}

.projectsContainer::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners for scrollbar */
}

.projectsContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar hover color */
}

.card-inner{
  transition: transform 0.6s; 
  transform-style: preserve-3d;
}

.card-inner:hover{
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-front {
  background: white;
  border: 1px solid #e5e7eb;
}

.card-back {
  background: black;
  color: white;
  transform: rotateY(180deg);
}